li {
    font-size: 2rem;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: medium;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {

    background: linear-gradient(rgb(0, 0, 0), transparent), url("PawerFul.png");

    background-size: cover;

    min-height: 200vh;
    border: 10px solid grey;
    border-radius: 10%;
}



.hero {

    min-height: 90vh;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form.h2 {
    padding: 4rem;
    color: #d93131;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-align: center;
}